.listContainer{
    width: 100%;
    margin:1% 0;
}
.listContainer div{
    padding:1%;
}
.listItem{
    display:flex;
    background-color: #fff;
    margin:1% 0;
    align-items: center;

}
.listItem a{
    color:#000;
}

.listItemLink,.listItemImg,.listItemModel,.listItemStock,.listItemPrice,.listItemQuantity,.listItemTotal,.listItemCartButton{
    margin:0 3% 0 0.5%;
    /* width: 10%; */
    width:8%;
}

.listItemQuantity span:nth-child(odd) {
    border:1px solid #eee;
    background-color: #fff;
    height: 30px;
    cursor: pointer;
    padding: 10%;
}
.listItemQuantity span:nth-child(2) {
    border:1px solid #eee;
    background-color: #eee;
    padding: 10%;
    cursor: pointer;
}

.listItemCartButton,.listItemCartButtonNotify{
    border-radius: 25px;
    cursor:pointer;
    padding: 1%;
    width: 10%;
    text-align: center;
    font-weight:700;
}
.listItemCartButton{
    background-color: #FFA90A;
}
.listItemCartButtonNotify {
    border:2px solid #FFA90A;
}